@use "sass:map";
@use "@gouvfr-lasuite/cunningham-react/style" as *;
@use "../../../cunningham-tokens-sass" as *;

$md: map.get($themes, "default", "globals", "breakpoints", "md");

.c__share-modal__members {
  display: flex;
  flex-direction: column;
  gap: var(--c--globals--spacings--xs);
  padding: var(--c--globals--spacings--xs) var(--c--globals--spacings--base);
  padding-top: 0;
}

.c__share-modal__invitations {
  display: flex;
  flex-direction: column;
  gap: var(--c--globals--spacings--xs);
  padding: var(--c--globals--spacings--xs) var(--c--globals--spacings--base);
  padding-top: 0;
}

.c__share-modal__search-users {
  padding: var(--c--globals--spacings--sm);
}

.c__share-modal__members-title,
.c__share-modal__invitations-title {
  font-size: var(--c--globals--font--sizes--sm);
  font-weight: 600;
  margin-bottom: var(--c--globals--spacings--4xs);
  color: var(--c--contextuals--content--semantic--neutral--primary);
}

.c__share-modal__copy-link-footer {
  border-top: 1px solid var(--c--contextuals--border--surface--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--c--globals--spacings--sm) var(--c--globals--spacings--base);
}

.c__share-modal__selected-users {
  padding: var(--c--globals--spacings--sm);
}

.c__share-modal__footer {
  border-top: 1px solid var(--c--contextuals--border--surface--primary);
}

.c__share-modal__link-settings {
  padding: var(--c--globals--spacings--base);
  gap: 8px;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: var(--c--globals--font--sizes--sm);
    font-weight: 600;
    margin-bottom: var(--c--globals--spacings--4xs);
    color: var(--c--contextuals--content--semantic--neutral--primary);
  }

  &__content {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;

    &__description {
      flex: 1;
      font-size: 12px;
      color: var(--c--contextuals--content--semantic--neutral--secondary);

      &.desktop {
        display: block;
      }
      &.mobile {
        display: none;
      }
    }
  }

  .c__share-modal__link-settings_f_content__select {
    .c__button {
      padding: 0 var(--c--globals--spacings--t) 0 var(--c--globals--spacings--t);
    }
  }

  .c__share-modal__link-settings__content__select__value,
  .c__share-modal__link-settings__content__select-role__value {
    // color: var(--c--components--button--primary-text--color) !important;
    // font-size: var(--c--components--button--medium-font-size);
    // font-weight: var(--c--components--button--text-font-weight);
    display: flex;
    align-items: center;
    gap: var(--c--globals--spacings--t);
    padding: 0 var(--c--globals--spacings--t) 0 var(--c--globals--spacings--t);
    height: 40px;

    &.disabled {
      color: var(--c--contextuals--content--semantic--neutral--tertiary);
    }
  }

  .c__share-modal__link-settings__content__select-role__value {
    font-size: 13px;
  }
}

.c__share-modal .quick-search-input-container {
  margin-top: 0;
}

@media (max-width: $md) {
  .c__share-modal__link-settings__content__description {
    &.desktop {
      display: none;
    }
    &.mobile {
      display: block;
    }
  }
}

.c__share-modal__cannot-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    padding: var(--c--globals--spacings--sm);
    font-size: var(--c--globals--font--sizes--sm);
    color: var(--c--contextuals--content--semantic--neutral--secondary);
    max-width: 320px;
    text-align: center;
    padding: var(--c--globals--spacings--sm);
    margin: 0;
  }
}
