.c__header {
  box-sizing: border-box;
  display: flex;
  background-color: var(--c--contextuals--background--surface--secondary);
  border-bottom: 1px solid var(--c--contextuals--border--surface--primary);
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding-inline: var(--c--globals--spacings--xs);

  &__toggle-menu {
    display: none;

    @media screen and (max-width: 1024px) {
      display: block;
    }

    &__icon {
      color: var(--c--contextuals--content--semantic--brand--tertiary);
    }
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;

    &__language-picker {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}
