.c__horizontal-separator {
  height: 1px;
  width: 100%;

  &.light {
    background-color: var(--c--theme--colors--greyscale-100);
  }

  &.dark {
    background-color: #e5e5e533;
  }

  &.with-padding {
    margin: var(--c--theme--spacings--sm, 0.75rem) 0;
  }
}
