.c__select:not(.c__select--disabled) .c__select__wrapper:hover {
  box-shadow: var(--c--components--forms-select--box-shadow--color--hover) 0 0 0
    1px;
  border-color: var(--c--components--forms-select--box-shadow--color--hover);
}

.c__select:not(.c__select--disabled) .c__select__wrapper:focus-within {
  box-shadow: var(--c--components--forms-select--box-shadow--color--focus) 0 0 0
    1px;
  border-color: var(--c--components--forms-select--box-shadow--color--focus);
}
