.pro-connect-button {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 214px;
  height: 56px !important;
  border: "none";
  cursor: pointer;

  background-color: var(--c--contextuals--background--semantic--brand--primary);

  &:hover {
    background-color: var(--c--contextuals--background--semantic--brand--primary-hover);
  }

  &:disabled {
    background-color: var(
      --c--contextuals--background--semantic--disabled--secondary
    ) !important;
  }
}
