@font-face {
  font-family: "Roboto Flex Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 1000;
  src: url('https://fichiers.numerique.gouv.fr/media/item/7e2d762e-27a9-4264-b6b0-85b3402e499f/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('truetype-variations');
}
