.c__user-row {
  display: flex;
  align-items: center;
  gap: var(--c--theme--spacings--xs);

  &__name {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--c--theme--colors--greyscale-1000);
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__email {
    color: var(--c--theme--colors--greyscale-600);
    font-size: 12px;
    line-height: 16px;

    &.has-only-email {
      font-weight: 500;
      font-size: var(--c--theme--font-sizes--sm);
      color: var(--c--theme--colors--greyscale-1000);
    }
  }
}
