.c__user-row {
  display: flex;
  align-items: center;
  gap: var(--c--globals--spacings--xs);

  &__name {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: var(--c--contextuals--content--semantic--neutral--primary);
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__email {
    color: var(--c--contextuals--content--semantic--neutral--tertiary);
    font-size: 12px;
    line-height: 16px;

    &.has-only-email {
      font-weight: 500;
      font-size: var(--c--globals--font--sizes--sm);
      color: var(--c--contextuals--content--semantic--neutral--primary);
    }
  }
}
