.c__dropdown-menu-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c__dropdown-menu {
  background-color: var(--c--contextuals--background--surface--primary);
  z-index: 1000;
  max-width: 320px;
  max-height: inherit;
  box-sizing: border-box;
  overflow: auto;
  min-width: 150px;
  box-sizing: border-box;
  outline: none;
  border-radius: var(--c--globals--spacings--3xs, 4px);
  border: 1px solid var(--c--contextuals--border--surface--primary);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 145, 0.1);

  .react-aria-Separator {
    height: 1px;
    background: var(--c--contextuals--border--semantic--neutral--tertiary);
  }
}

.c__dropdown-menu-item-top-message {
  display: flex;
  align-items: center;

  padding: var(--c--globals--spacings--sm, 0.5rem);

  font-weight: 500;
  color: var(--c--contextuals--content--semantic--neutral--primary);
  font-size: var(--c--globals--font--sizes--xs, 0.75rem);
}

.c__dropdown-menu-item {
  display: flex;
  gap: var(--c--globals--spacings--base, 16px);
  padding: 8px 16px;
  border-bottom: 1px solid transparent;
  padding-right: 24px;
  outline: none;
  cursor: pointer;
  line-height: 19px;
  font-size: var(--c--globals--font--sizes--sm, 0.875rem);
  font-weight: 500;
  color: var(--c--contextuals--content--semantic--neutral--primary);
  align-items: center;
  forced-color-adjust: none;

  &__label {
    flex: 1;
  }

  &:hover {
    background: var(
      --c--contextuals--background--semantic--contextual--primary
    );
  }

  &[data-focused] {
    background: var(
      --c--contextuals--background--semantic--contextual--primary
    );
    color: black;
  }

  &[data-disabled] {
    color: var(--c--contextuals--content--semantic--disabled--primary);
    cursor: not-allowed;

    &:hover {
      background: transparent;
    }
  }

  .material-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    font-size: 20px;
  }

  .checked {
    margin-left: var(--c--globals--spacings--md, 1.5rem);
  }
}

.dropdown-menu-separator {
  background-color: var(--c--contextuals--background--surface--primary);
  height: 1px;
  width: 100%;
}
