.c__share-member-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;

  &__right {
    display: flex;
    align-items: center;
  }
}

.c__search-user-item-right {
  display: flex;
  align-items: center;
  color: var(--c--contextuals--content--semantic--brand--tertiary);
}
