.c__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.5);

  &__initials {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

    text-transform: uppercase;
  }

  &.xsmall {
    width: 16px;
    height: 16px;
    font-size: 7px;
  }

  &.small {
    width: 24px;
    height: 24px;
    font-size: 10px;
  }

  &.medium {
    width: 32px;
    height: 32px;
    font-size: 12px;
  }

  &.large {
    width: 64px;
    height: 64px;
    font-size: 26px;
  }

  &.brand {
    background-color: var(--c--globals--colors--brand-500);
  }

  &.gray {
    background-color: var(--c--globals--colors--gray-500);
  }

  &.info {
    background-color: var(--c--globals--colors--info-500);
  }

  &.success {
    background-color: var(--c--globals--colors--success-500);
  }

  &.warning {
    background-color: var(--c--globals--colors--warning-500);
  }

  &.error {
    background-color: var(--c--globals--colors--error-500);
  }

  &.purple {
    background-color: var(--c--globals--colors--purple-500);
  }

  &.blue {
    background-color: var(--c--globals--colors--blue-1-500);
  }

  &.green {
    background-color: var(--c--globals--colors--green-500);
  }

  &.yellow {
    background-color: var(--c--globals--colors--yellow-500);
  }

  &.orange {
    background-color: var(--c--globals--colors--orange-500);
  }

  &.red {
    background-color: var(--c--globals--colors--red-500);
  }

  &.brown {
    background-color: var(--c--globals--colors--brown-500);
  }

  &.pink {
    background-color: var(--c--globals--colors--pink-500);
  }
}
