.c__add-share-user-list {
  display: flex;
  align-items: center;
  padding: var(--c--globals--spacings--sm);
  background-color: var(--c--contextuals--background--surface--tertiary);
  border-radius: var(--c--globals--spacings--3xs);
  border: 1px solid var(--c--contextuals--border--surface--primary);
  gap: var(--c--globals--spacings--3xs);

  &__items {
    display: flex;

    flex-wrap: wrap;
    gap: var(--c--globals--spacings--3xs);
    flex: 1;
  }

  &__right-actions {
    display: flex;
    align-items: center;
    gap: var(--c--globals--spacings--xs);
  }
}

.c__add-share-user-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--c--globals--spacings--3xs);
  border-radius: var(--c--globals--spacings--3xs);
  height: fit-content;
  padding: var(--c--globals--spacings--4xs) var(--c--globals--spacings--4xs)
    var(--c--globals--spacings--4xs) var(--c--globals--spacings--xs);
  background-color: var(
    --c--contextuals--background--semantic--neutral--secondary
  );
  color: var(--c--contextuals--content--semantic--neutral--primary);
  font-size: var(--c--globals--font--sizes--xs);

  .close-icon {
    color: var(--c--contextuals--content--semantic--neutral--tertiary);
    font-size: var(--c--globals--font--sizes--sm);
  }
}
