.c__tree-view--row-content {
  padding: 0 12px;
}

.c__tree-view {
  /* Ensure proper spacing and alignment */
  & > div {
    /* Target the last direct child with the row class and aria-level of 1 */
    & > .c__tree-view--row:last-child {
      .c__tree-view--row-content {
        padding-bottom: 10px;
      }
    }
  }
}

.c__tree-view__cursor {
  position: absolute;
  height: 0;
  border-top: 2px solid var(--c--contextuals--border--semantic--brand--primary);
  border-radius: 4px;
}

.c__tree-view--row:has(.c__tree-view--node__separator),
.c__tree-view--row:has(.c__tree-view--node__title),
.c__tree-view--row:has(.c__tree-view--node__view-more) {
  display: flex;
  align-items: center;
}

.c__tree-view--row {
  outline: none;
  pointer-events: none;

  &:focus-visible .c__tree-view--node {
    box-shadow: 0 0 0 2px
      var(--c--contextuals--border--semantic--brand--primary);
    border-radius: 4px;
  }
}

.c__tree-view--node__separator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1px;
  width: 100%;
  background-color: var(--c--contextuals--border--semantic--neutral--tertiary);
}

.c__tree-view--node__title {
  font-size: var(--c--globals--font--sizes--sm);
  font-weight: bold;
  width: 100%;
  padding: 0 var(--c--globals--spacings--sm);
  color: var(--c--contextuals--content--semantic--neutral--primary);
}

.c__tree-view--node__view-more {
  width: 100%;

  padding: 0 var(--c--globals--spacings--sm);
  display: flex;
  justify-content: center;
}
.c__tree-view--node__view-more-button {
  display: flex;
  align-items: center;
  gap: var(--c--globals--spacings--3xs);
  background: none;
  font-size: var(--c--globals--font--sizes--sm);
  padding: var(--c--globals--spacings--4xs) var(--c--globals--spacings--sm);
  color: var(--c--contextuals--content--semantic--neutral--tertiary);
  padding-left: 0;
  margin-left: 20px;

  cursor: pointer;
  transition: all 0.2s ease;

  .material-icons {
    font-size: var(--c--globals--font--sizes--sm);
  }
}

.c__tree-view--node {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: var(--c--globals--spacings--4xs) 0;
  pointer-events: auto;
  gap: var(--c--globals--spacings--3xs);

  &.simpleNode {
    padding: var(--c--globals--spacings--4xs) var(--c--globals--spacings--sm);
  }

  &:not(.willReceiveDrop, .isSelected):hover {
    background-color: var(
      --c--contextuals--background--semantic--contextual--primary
    );
  }

  &.isSelected {
    background-color: var(
      --c--contextuals--background--semantic--contextual--primary
    );
    font-weight: 700;
  }

  &.canDrop {
    &.willReceiveDrop:not(.isDragging),
    &.externalDrop {
      background-color: var(
        --c--contextuals--background--semantic--brand--tertiary
      );
      border: 1.5px solid
        var(--c--contextuals--border--semantic--brand--primary);
    }
  }

  .c__tree-view--node__leaf {
    margin-left: 16px;
  }

  .c__tree-view--node__loading {
    margin: 0 0px;
  }

  .c__tree-view--node__arrow {
    cursor: pointer;
    color: var(--c--contextuals--content--semantic--neutral--tertiary);
    font-size: 16px;
  }
}
