.c__right-panel {
  height: 100%;
  width: 0;
  border-left: 1px solid var(--c--contextuals--border--surface--primary);
  transition: width 0.15s ease-in-out;
  overflow-y: auto;
  transition: width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--c--contextuals--background--surface--secondary);
  &.open {
    width: 300px;
  }
}

.c__right-panel__mobile {
  z-index: 998;
  width: 100dvw;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--c--contextuals--background--surface--secondary);
  transition: transform 0.15s ease-in-out;
  transform: translateX(100dvw);

  // Animation for both opening and closing
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &.open {
    transform: translateX(0);
  }
}
