// Icon sizes
.icon--xsmall {
  font-size: 11px;
}

.icon--small {
  font-size: 16px;
}

.icon--medium {
  font-size: 24px;
}

.icon--large {
  font-size: 32px;
}

.icon--xlarge {
  font-size: 48px;
}
