.material-icons.icon--filled {
  font-family: "Material Icons", sans-serif;
}

// Icon sizes
.material-icons.icon--xsmall {
  font-size: 11px;
}

.material-icons.icon--small {
  font-size: 16px;
}

.material-icons.icon--medium {
  font-size: 24px;
}

.material-icons.icon--large {
  font-size: 32px;
}

.material-icons.icon--xlarge {
  font-size: 48px;
}
