.c__access-role-dropdown {
  display: flex;
  align-items: center;
  gap: var(--c--globals--spacings--4xs);
  user-select: none;
  font-weight: 500;

  &__role-label {
    color: var(--c--contextuals--content--semantic--brand--tertiary);
  }

  &__icon {
    color: var(--c--contextuals--content--semantic--brand--tertiary);
  }

  &__role-label-can-not-update {
    color: var(--c--contextuals--content--semantic--neutral--secondary);
  }
}
