/**
 * Modal
*/
.c__modal__backdrop {
  z-index: 1000;
}

.c__modal__close .c__button--tertiary-text:hover,
.c__modal__close .c__button--tertiary-text:focus-visible {
  box-shadow: none;
}

.c__modal__close button {
  padding: 0;
  font-size: 88px;
  width: 28px !important;
  height: 28px;
}

.c__modal__close button .material-icons {
  padding: 0;
  font-size: 24px;
  color: var(--c--theme--colors--greyscale-600);
}

.c__modal__close .c__button {
  padding: 0 !important;
}

.c__modal--full .c__modal__content {
  overflow-y: auto;
}

.c__modal__title {
  text-align: left;
  padding: 0;
  font-size: 1.125rem;
  margin-bottom: var(--c--theme--spacings--2xs);
}

@media screen and (width <= 420px) {
  .c__modal__scroller {
    padding: 0.7rem;
  }

  .c__modal__title h2 {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .c__modal__footer--sided {
    gap: 0.5rem;
    flex-direction: column-reverse;
  }
}
