.c__with-label {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: var(--c--globals--spacings--xs);
  padding: var(--c--globals--spacings--3xs);

  &.left {
    flex-direction: row-reverse;
  }

  &:hover {
    cursor: pointer;
    background-color: var(
      --c--contextuals--background--semantic--neutral--tertiary-hover
    );
  }
}

.suite__label__container {
  display: flex;
  flex-direction: column;

  label {
    font-size: var(--c--globals--font--sizes--sm);
    font-weight: var(--c--globals--font--weights--medium);
    color: var(--c--contextuals--content--semantic--neutral--primary);
  }

  &__description {
    font-weight: 400;
    font-size: var(--c--globals--font--sizes--s);
    color: var(--c--contextuals--content--semantic--neutral--secondary);
  }
}
