.suite-volume-bar {
  display: flex;
  align-items: center;
  gap: 4px;

  &__bar {
    width: 80px;
    height: 4px;

    border-radius: 2px;
    outline: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background: linear-gradient(
      to right,
      var(--c--contextuals--content--semantic--neutral--tertiary) 0%,
      var(--c--contextuals--content--semantic--neutral--tertiary)
        var(--volume-percentage, 100%),
      color-mix(
          in srgb,
          var(--c--contextuals--content--semantic--neutral--tertiary) 25%,
          transparent
        )
        var(--volume-percentage, 0%),
      color-mix(
          in srgb,
          var(--c--contextuals--content--semantic--neutral--tertiary) 25%,
          transparent
        )
        100%
    );

    &:hover {
      background: linear-gradient(
        to right,
        var(--c--contextuals--content--semantic--brand--primary) 0%,
        var(--c--contextuals--content--semantic--brand--primary)
          var(--volume-percentage, 100%),
        color-mix(
            in srgb,
            var(--c--contextuals--content--semantic--neutral--tertiary) 25%,
            transparent
          )
          var(--volume-percentage, 0%),
        color-mix(
            in srgb,
            var(--c--contextuals--content--semantic--neutral--tertiary) 25%,
            transparent
          )
          100%
      );
      &::-webkit-slider-thumb {
        transform: scale(1.8);
        background: var(--c--contextuals--content--semantic--brand--primary);
      }
      &::-moz-range-thumb:hover {
        transform: scale(1.8);
        background: var(--c--contextuals--content--semantic--brand--primary);
      }
    }

    &::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      width: 8px;
      height: 8px;
      background: var(--c--contextuals--content--semantic--neutral--tertiary);
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.2s ease;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    &::-moz-range-thumb {
      width: 14px;
      height: 14px;
      background: var(--c--contextuals--content--semantic--neutral--tertiary);
      border-radius: 50%;
      cursor: pointer;
      border: none;
      transition: transform 0.2s ease;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
  }
}
