.c__footer {
  position: relative;

  &__stripe {
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--c--theme--colors--primary-600);
    top: 0;
  }

  &__logo {
    color: transparent;
    width: 220px;
    height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 3rem 1.625rem 1rem;

    &__top {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      &__logo {
        display: flex;
        align-items: center;
        gap: 6rem;
        flex-direction: row;

        .c__logo-gouv {
          font-size: 1.3rem;
        }
      }

      &__links {
        display: flex;
        flex-flow: wrap;
        gap: 0.5rem 1.5rem;

        a {
          color: var(--c--theme--colors--greyscale-text);
          text-decoration: none;
          display: flex;
          gap: 0.2rem;
          transition: box-shadow 0.3s ease 0s;
          font-weight: bold;
        }
      }
    }

    &__middle {
      display: flex;
      flex-flow: wrap;
      margin-top: 1.625rem;
      padding-top: 0.5rem;
      border-top: 1px solid var(--c--theme--colors--greyscale-200);
      gap: 0.5rem 1rem;

      a {
        text-decoration: none;
        font-size: 0.8125rem;
        color: var(--c--theme--colors--greyscale-600);
        display: flex;
        padding-right: 1rem;
        box-shadow: inset -1px 0px 0px 0px var(--c--theme--colors--greyscale-200);
      }
    }

    &__mention {
      font-size: 0.8125rem;
      color: var(--c--theme--colors--greyscale-600);
      display: inline;
      margin-top: 1.625rem;

      a {
        color: var(--c--theme--colors--greyscale-600);
        text-decoration: none;
        display: inline-flex;
        box-shadow: 0px 1px 0 0 var(--c--theme--colors--greyscale-text);
      }
    }
  }
}
