.user-menu__trigger {
  padding-inline: 4px;
}

.user-menu__popover {
  min-width: 300px;
  max-width: 400px;

  &--mobile {
    background: var(--c--contextuals--background--surface--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    border-radius: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;

    .react-aria-Dialog {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      position: relative;
    }
  }
}

.user-menu__close-button {
  position: absolute !important;
  top: 4px;
  right: 4px;
}

.user-menu__content__body {
  padding-bottom: var(--c--globals--spacings--xs);
  display: flex;
  flex-direction: column;
  gap: var(--c--globals--spacings--xs);
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;

  .user-menu__popover--mobile & {
    padding-top: 14px;
  }

  &__user-info {
    display: flex;
    align-items: center;
    padding-inline: var(--c--globals--spacings--base);
    padding-block: var(--c--globals--spacings--md) var(--c--globals--spacings--base);
    gap: var(--c--globals--spacings--base);
    background: linear-gradient(
    180deg,
    color-mix(in srgb, var(--gradient-color) 8%, transparent) 0%,
    color-mix(in srgb, var(--c--contextuals--background--surface--primary) 8%, transparent) 100%,
    );
  }
}

.user-menu__content__identity {
  display: flex;
  flex-direction: column;
  gap: var(--c--globals--spacings--3xs);
}

.user-menu__content__identity__name,
.user-menu__content__identity__email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 280px;
}

.user-menu__content__identity__name {
  color: var(--c--contextuals--content--semantic--neutral--primary);
  font-size: var(--c--globals--font--sizes--md);
  font-weight: 700;
  line-height: 1.375;
  margin: 0;

  & > strong {
    font-weight: inherit;
  }
}
.user-menu__content__identity__email {
  color: var(--c--contextuals--content--semantic--neutral--tertiary);
  font-size: var(--c--globals--font--sizes--xs);
  font-weight: 400;
  margin: 0;

  // When email has a strong tag, that means there is no full name
  // so we make the email a bit stronger
  & > strong {
    font-weight: 500;
    font-size: var(--c--globals--font--sizes--ml);
  }
}

.user-menu__actions {
  display: flex;
  padding: var(--c--globals--spacings--xs);
  flex-direction: row;
  justify-content: space-between;

  gap: var(--c--globals--spacings--base);
  border-top: 1px solid var(--c--contextuals--border--surface--primary);

  &:has(.user-menu__actions__right:only-child) {
    justify-content: flex-end;
  }

  &--mobile {
    border-top: none;
    padding: var(--c--globals--spacings--xs) var(--c--globals--spacings--base);
  }
}

.user-menu__footer--mobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: var(--c--globals--spacings--base);
  border-top: 1px solid var(--c--contextuals--border--surface--primary);
  margin-top: auto;
}

.user-menu__item {
  display: flex;
  align-items: center;

  gap: var(--c--globals--spacings--base);
  border-radius: var(--c--globals--spacings--3xs);
  padding: var(--c--globals--spacings--xxs) var(--c--globals--spacings--base);
  cursor: pointer;

  &:hover {
    background-color: var(
      --c--contextuals--background--semantic--contextual--primary
    );
  }
  &__label {
    font-size: var(--c--globals--font--sizes--sm);
    font-weight: 500;
    color: var(--c--contextuals--content--semantic--neutral--primary);
  }
}
