.c__file-icon {
  &.icon--xsmall {
    width: 11px;
    height: 11px;
  }

  &.icon--small {
    width: 16px;
    height: 16px;
  }

  &.icon--medium {
    width: 24px;
    height: 24px;
  }

  &.icon--large {
    width: 32px;
    height: 32px;
  }

  &.icon--xlarge {
    width: 40px;
    height: 40px;
  }
}
