.c__left-panel {
  display: flex;
  flex-direction: column;

  &.has-header {
    height: 100%;
  }

  &:not(.has-header) {
    height: 100%;
  }

  width: 100%;
  background-color: var(--c--contextuals--background--surface--secondary);
  border-right: 1px solid var(--c--contextuals--border--surface--primary);
}

.c__left-panel__mobile {
  z-index: 999;
  width: 100dvw;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--c--contextuals--border--surface--primary);
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--c--contextuals--background--surface--secondary);
  transition: transform 0.15s ease-in-out;
  transform: translateX(-100dvw);

  // Animation for both opening and closing
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &.open {
    transform: translateX(0);
    border-top: 1px solid var(--c--contextuals--border--surface--primary);
  }
}

.c__left-panel__content {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}

.c__left-panel__footer {
  flex-shrink: 0;

  .c__left-panel__mobile & {
    border-top: 1px solid var(--c--contextuals--border--surface--primary);
  }
}
