@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-Thin.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-Thin.woff') format('woff');
  font-weight: 100;
}


@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-Thin_Italic.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-Thin_Italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-Light.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-Light_Italic.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-Light_Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-Regular.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-Regular_Italic.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-Regular_Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-Medium.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-Medium_Italic.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-Medium_Italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-Bold.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-Bold_Italic.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-Bold_Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-ExtraBold.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-ExtraBold.woff') format('woff');
  font-weight: 800;
}

@font-face {
  font-family: Marianne;
  src:
    url(':/assets/fonts/Marianne/Marianne-ExtraBold_Italic.woff2') format('woff2'),
    url(':/assets/fonts/Marianne/Marianne-ExtraBold_Italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
