.c__input,
.c__field,
.c__select,
.c__datagrid {
  font-family: var(--c--theme--font--families--base);
}

/**
 * Date picker
*/
.c__popover.c__popover--borderless {
  z-index: 3;
}

.c__date-picker__wrapper {
  transition: all var(--c--theme--transitions--duration)
    var(--c--theme--transitions--ease-out);
}

.c__date-picker:not(.c__date-picker--disabled):hover .c__date-picker__wrapper {
  box-shadow: var(--c--theme--colors--primary-500) 0 0 0 2px;
}

.c__date-picker.c__date-picker--invalid:not(.c__date-picker--disabled):hover
  .c__date-picker__wrapper {
  box-shadow: var(--c--theme--colors--danger-300) 0 0 0 2px;
}

.c__date-picker__wrapper button[aria-label="Clear date"],
.c__date-picker.c__date-picker--invalid .c__date-picker__wrapper * {
  color: var(--c--theme--colors--danger-300);
}

/**
 * Toast
*/
.c__toast__container {
  z-index: 10000;
}
