.c__input,
.c__field,
.c__select,
.c__datagrid {
  font-family: var(--c--theme--font--families--base);
}

/**
 * Select
*/
.c_select__no_border .c__select .c__select__wrapper,
.c_select__no_border .c__select .c__select__wrapper:hover,
.c_select__no_border
  .c__select:not(.c__select--disabled)
  .c__select__wrapper:hover {
  border: none;
  box-shadow: none;
}

.c__select__wrapper {
  transition: all var(--c--theme--transitions--duration)
    var(--c--theme--transitions--ease-out);
  min-height: var(--c--components--forms-select--height);
  height: auto;
}

.c__select:not(.c__select--disabled) .c__select__wrapper:hover {
  box-shadow: var(--c--components--forms-input--box-shadow-color) 0 0 0 2px;
}

.c__select__wrapper:hover {
  border-radius: var(--c--components--forms-select--border-radius-hover);
  border-color: var(--c--components--forms-select--border-color-hover);
}

.c__select--disabled .c__select__wrapper:hover {
  border-color: var(--c--components--forms-select--border-color-disabled-hover);
}

.c__select--disabled .c__select__wrapper label,
.c__select--disabled .c__select__wrapper input,
.c__select--disabled .c__select__wrapper {
  cursor: not-allowed;
}

.c__select__menu__item {
  transition: all var(--c--theme--transitions--duration)
    var(--c--theme--transitions--ease-out);
}

.c__select--disabled .c__select__wrapper label,
.c__select--disabled .c__select__wrapper input,
.c_select__no_bg .c__select__wrapper {
  background: none;
}

.c__select__wrapper:focus-within .labelled-box--disabled label {
  color: var(--c--components--forms-labelledbox--label-color--small-disabled);
}

.c__select__wrapper .labelled-box {
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  align-items: flex-start;
}

.c__select__wrapper .labelled-box .labelled-box__children {
  padding: unset;
  padding-right: 5rem;
}

.c__select__wrapper .labelled-box .c__select__inner__actions {
  right: 0;
  top: 50%;
  position: absolute;
}

.c__select__wrapper label {
  position: relative;
  padding-right: 5rem;
  max-width: none;
}

.c__select__wrapper .c__select__inner__actions__open:focus {
  outline: none;
}

.c__select__wrapper .labelled-box__label.c__offscreen {
  display: none;
}

/**
 * DataGrid
*/
.c__datagrid__table__container {
  overflow: auto;
}

.c__datagrid__table__container > table th .c__datagrid__header {
  color: var(--c--components--datagrid--header--color);
  font-weight: var(--c--components--datagrid--header--weight);
  font-size: var(--c--components--datagrid--header--size);
  padding-block: 2rem;
}

.c__datagrid__table__container > table tbody tr {
  border: none;
  border-top: 1px var(--c--theme--colors--greyscale-100) solid;
  border-bottom: 1px var(--c--theme--colors--greyscale-100) solid;
}

.c__datagrid__table__container > table tbody {
  background-color: var(--c--components--datagrid--body--background-color);
}

.c__datagrid__table__container > table tbody tr:hover {
  background-color: var(
    --c--components--datagrid--body--background-color-hover
  );
}

.c__datagrid__table__container > table {
  table-layout: auto;
}

.c__datagrid__table__container > table td {
  white-space: break-spaces;
}

.c__datagrid__table__container > table th:first-child,
.c__datagrid__table__container > table td:first-child {
  padding-left: 2rem;
}

.c__datagrid > .c__pagination {
  padding-inline: 1rem;
  justify-content: flex-end;
}

.c__pagination__list {
  gap: 3px;
  border-radius: 4px;
  background: var(--c--components--datagrid--pagination--background-color);
  border-color: var(--c--components--datagrid--pagination--border-color);
}

.c__pagination__list .c__button--tertiary-text.c__button--active {
  background-color: var(
    --c--components--datagrid--pagination--background-color-active
  );
  color: var(--c--theme--colors--greyscale-800);
}

.c__pagination__list .c__button--tertiary-text:disabled {
  display: none;
}

@media (width <= 380px) {
  .c__datagrid > .c__pagination {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

/**
 * Date picker
*/
.c__popover.c__popover--borderless {
  z-index: 3;
}

.c__date-picker__wrapper {
  transition: all var(--c--theme--transitions--duration)
    var(--c--theme--transitions--ease-out);
}

.c__date-picker:not(.c__date-picker--disabled):hover .c__date-picker__wrapper {
  box-shadow: var(--c--theme--colors--primary-500) 0 0 0 2px;
}

.c__date-picker.c__date-picker--invalid:not(.c__date-picker--disabled):hover
  .c__date-picker__wrapper {
  box-shadow: var(--c--theme--colors--danger-300) 0 0 0 2px;
}

.c__date-picker__wrapper button[aria-label="Clear date"],
.c__date-picker.c__date-picker--invalid .c__date-picker__wrapper * {
  color: var(--c--theme--colors--danger-300);
}

/**
 * Others
*/

/**----- NEW BUTTONS ------**/

/**----- END OLD BUTTONS ------**/

/**
 * Modal
*/
.c__modal__backdrop {
  z-index: 1000;
}

.c__modal__close .c__button--tertiary-text:hover,
.c__modal__close .c__button--tertiary-text:focus-visible {
  box-shadow: none;
}

.c__modal__close button {
  padding: 0;
  font-size: 88px;
  width: 28px !important;
  height: 28px;
}

.c__modal__close button .material-icons {
  padding: 0;
  font-size: 24px;
  color: var(--c--theme--colors--greyscale-600);
}

.c__modal__close .c__button {
  padding: 0 !important;
}

.c__modal--full .c__modal__content {
  overflow-y: auto;
}

.c__modal__title {
  padding: 0;
  font-size: 1.125rem;
  margin-bottom: var(--c--theme--spacings--2xs);
}

@media screen and (width <= 420px) {
  .c__modal__scroller {
    padding: 0.7rem;
  }

  .c__modal__title h2 {
    font-size: 1rem;
  }
}

@media (width <= 576px) {
  .c__modal__footer--sided {
    gap: 0.5rem;
    flex-direction: column-reverse;
  }
}

.c__modal__scroller:has(.noPadding) {
  padding: 0 !important;

  .c__modal__close .c__button {
    right: 5px;
    top: 5px;
    padding: 1.5rem 1rem;
  }

  .c__modal__title {
    font-size: var(--c--theme--font--sizes--xs);
    padding: var(--c--theme--spacings--base);
    margin-bottom: 0;
  }
}

/**
 * Toast
*/
.c__toast__container {
  z-index: 10000;
}

/**
 * Tooltip
*/
.c__tooltip {
  padding: 4px 6px;
}
