.tree-view-item {
  width: 100%;
  display: flex;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .icon {
    width: 2rem;
    height: 2rem;
    background-color: var(
      --c--contextuals--background--semantic--neutral--tertiary
    );
    border-radius: 50%;
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    line-clamp: 1;
    width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.c__tree-view--node {
  .actions {
    &:not(.show-actions) {
      opacity: 0;
    }

    &.show-actions {
      opacity: 1;
    }
  }
  &:hover {
    .actions {
      opacity: 1;
    }
  }
}

.c__tree-view--row:focus-within .c__tree-view--node .actions {
  opacity: 1;
}

.right-panel {
  display: flex;
  flex-direction: column;
}

.drag-overlay-item {
  display: flex;
  align-items: center;
  opacity: 0.5;
  background-color: red;
  max-width: 300px;
  height: 30px;
}

.folder {
  display: flex;
  user-select: none;
  align-items: center;
  opacity: 1;
  background-color: transparent;
  padding: 10px;

  &.isSelected {
    background-color: red;
  }

  &.isOver {
    background-color: blue;
  }
}
