@use "./../../styles/variables";

.c__main-layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  // Disable transitions during window resize to prevent mobile panels from being visible
  &.resizing {
    .c__left-panel__mobile,
    .c__right-panel__mobile,
    .c__right-panel {
      transition: none !important;
    }
  }
}

.c__main-layout__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.c__main-layout__content {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: calc(variables.$header-height);

  &__left-panel {
    height: calc(100dvh - variables.$header-height);
    width: 300px;
    border-right: 1px solid var(--c--contextuals--border--surface--primary);
    @media screen and (max-width: 1024px) {
      width: 100dvw;
    }
  }
  &__center {
    display: flex;

    &__children {
      height: calc(100dvh - variables.$header-height);
      width: 100%;
      background: var(--c--contextuals--background--surface--primary);
      flex: 1;
      overflow-y: auto;
    }
  }
}
